.navbar {
    display: flex;
    justify-content: space-between;  /* Ensures spacing between logo and links */
    align-items: center; 
    padding: 10px 20px;
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: black;

}

.nav-links {
    display: flex;
    gap: 20px; /* Adds spacing between links */

}

.nav-links a {
    text-decoration: none;
    font-size: 1rem;
    color: black;

}

.nav-links a:hover {
    color:#d2691e; /* Highlight color on hover */
}
.nav-logo:hover {
    color:#d2691e;/* Highlight color on hover */
}
